body{
    background:url(2.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bottone {
    /* margin-top: 10%; */
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 9px;
    height: 80px;
    width: 200px;
    background: darkgoldenrod;
    border: none;
    font-family: inherit;
    font-size: large;
    text-align: center;
    cursor: pointer;
   }
   
   #bottone:hover {
    box-shadow: 7px 5px 56px -14px darkgoldenrod;;
   }
   
   #bottone:active {
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -10px darkgoldenrod;
   }
